<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0-beta-dist/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="container">
        <h1>Great Number Game</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <p>(Hint: # is {{ session['target'] }})</p>
        <div class="guess_number">
          <form action="/result", method="post">
            Guess: <input type="number" name="guess">
            <input type="submit" name="submit" value="Submit">
          </form>
        </div>
        {% if session['result'] == 'low' %}
        <p>Too low!</p>
        {% elif session['result'] == 'high' %}
        <p>Too high!</p>
        {% elif session['result'] == 'correct' %}
        <p>Correct!</p>
        <a href="/reset"><button type="button" name="button">Play again!</button></a>
        {% endif %}
    </div>
  </body>
</html>
