@{
    ViewData["Title"] = "Show Page";
}
@model DojoLeague.Models.Ninja

<h1>Ninja Name: @Model.Name</h1>
<h4>Ninja Level: @Model.Level</h4>
<h4>Description: @Model.Description</h4>
<h4>Current Dojo: @Model.Dojo.Name</h4>
