@{
    ViewData["Title"] = "Home Page";
}
@model WeddingPlanner.Models.UserIndex

<!-- <div asp-validation-summary="All"></div> -->
<h1>Login</h1>
@Html.Partial("./Partials/LoginForm")
<hr>
<h1>Register</h1>
@Html.Partial("./Partials/RegisterForm", Model.RegisterUser)
<hr>
<h2>Existing Users</h2>
<!-- <h3><a href="/new">Create a new user</a></h3> -->
@foreach(var user in Model.Users)
{
    <p><a href="user/@user.UserId">@user.FirstName @user.LastName</a></p>
}