@model Form_Submission.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<h1>Enter your information</h1>
<!-- <div asp-validation-summary="All"></div> -->
<form asp-action="Register" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="first_name"></label>
        <span asp-validation-for="first_name"></span>
        <input asp-for="first_name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="last_name"></label>
        <span asp-validation-for="last_name"></span>
        <input asp-for="last_name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="age"></label>
        <span asp-validation-for="age"></span>
        <input asp-for="age" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="email"></label>
        <span asp-validation-for="email"></span>
        <input asp-for="email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="password"></label>
        <span asp-validation-for="password"></span>
        <input asp-for="password" class="form-control">
    </div>
    <input type="submit" value="Submit" class="button">
</form>