<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0-beta-dist/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{ session['count'] }} times</p>
        <a href="/plus2"><button type="button" name="plus2">+2</button></a>
        <a href="/reset"><button type="button" name="reset">Reset</button></a>
    </div>
  </body>
</html>
