<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0-beta-dist/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="container">
      <h4><u>Submitted Info</u></h4>
      <p>Email: {{ email }}</p>
      <p>First Name: {{ first_name }}</p>
      <p>Last Name: {{ last_name }}</p>
      <!-- <p>Password: {{ password }}</p> -->
      <!-- <p>Confirm Password: {{ password }}</p> -->
      <h5>Thanks for submitting your information!</h5>
      <a href="/reset"><button type="button" name="back">Go Back</button></a>
    </div>
  </body>
</html>
