@{
    ViewData["Title"] = "LoginRegistration";
}

<!-- <div asp-validation-summary="All"></div> -->
<h1>Login</h1>
@Html.Partial("./Partials/LoginForm")
<hr>
<h1>Register</h1>
@Html.Partial("./Partials/RegisterForm")
