<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>process</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0-beta-dist/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="container">
      <h4><u>Submitted Info</u></h4>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <span>{{message}}</span>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <p>Name: {{ x }}</p>
      <p>Dojo Location: {{ y }}</p>
      <p>Favorite Language: {{ z }}</p>
      <p>Comment: {{ c }}</p>
      <a href="/"><button type="button" name="back">Go Back</button></a>
    </div>
  </body>
</html>
