<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <hr>
        <img src="~/images/Me_150.jpg" alt="Me_150.jpg">
        <h4>Name:</h4>
        <p>Rommel Dumaguin</p>
        <h4>About Me:</h4>
        <p>Hi! I live in Seattle, WA and I'm an aspiring 3D Technical Artist!</p>
    </body>
</html>