<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
    </head>
    <body>
        <h1>Projects</h1>
        <hr>
        <h4>Project 1:</h4>
        <p>Title: Magazine</p>
        <img src="~/images/Mag.jpg" alt="Mag.jpg" width="250">
        <p>Description: </p>
        <p>Prop modeling, rendering, and texturing with Substance Painter/Designer using the PBR Metallic/Roughness workflow</p>

        <hr>
        <h4>Project 2:</h4>
        <p>Title: NY Doom</p>
        <img src="~/images/NY_Doom.jpg" alt="NY_Doom.jpg" width="250">
        <p>Description: </p>
        <p>Modular buildings, trees, foliage, vertex painting, custom and tileable textures based on concept and research</p>

        <hr>
        <h4>Project 3:</h4>
        <p>Title: CCXR</p>
        <img src="~/images/CCXR.jpeg" alt="CCXR.jpg" width="250">
        <p>Description: </p>
        <p>Vehicle modeling, lighting, and rendering</p>
    </body>
</html>