<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>The_Wall_success</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0-beta-dist/css/bootstrap.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
  <div class="container">
    <div id="header">
      <h1>The Wall</h1><a href="/logoff">Logoff</a>
      <h5>Welcome {{ session['user_first_name'] }}!</h5>
    </div>
{#
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <p class={{category}}>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
#}
      <!-- print current user dict at 'messages_and_comments[0]' -->
      {#}{{ messages }}
      {{ comments }}#}

    <form class="post_message" action="/wall/message" method="post">
      <h4 class="title">Post a message</h4>
      <textarea name="message" rows="8" cols="80"></textarea>
      <input class="button" type="submit" name="post_message" value="Post a message">
    </form>
    {% for message in messages %}
      <div class="message">
        <h5>{{ message['first_name'] }} {{ message['last_name'] }} - {{ message['message_created_at'] }}</h5>
        <p>{{ message['message'] }}</p>
      </div>
      {#{% print "message['id'] = ", message['id'] %}#}
      {% for comment in comments %}
        {% if comment['message_id'] == message['id'] %}
          <div class="comment">
            <h5>{{ comment['first_name'] }} {{ comment['last_name'] }} - {{ comment['comment_created_at'] }}</h5>
            <p>{{ comment['comment'] }}</p>
          </div>
          {#{% print "comment['message_id'] = ", comment['message_id'] %}#}
        {% endif %}
      {% endfor %}
      <form class="post_comment" action="/wall/{{ message['id'] }}/comment" method="post">
        <h6 class="title">Post a comment</h6>
        <textarea name="comment" rows="8" cols="80"></textarea>
        <input class="button" type="submit" name="post_comment" value="Post a comment">
      </form>
    {% endfor %}
  </div>
</body>
</html>
