@{
    ViewData["Title"] = "Home Page";
}

<h1>Login</h1>
@{
    if(TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }
}
<form asp-action="login" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="Email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" class="form-control">
    </div>
    <input type="submit" value="Submit" class="button">
</form>

<a href="/">Need to Register?</a>
